div[data-ice="constructorSummary"],
div[data-ice="memberSummary"],
div[data-ice="methodSummary"] {
	display:none;
}

h2[data-ice="title"] {
	font-size:1.5em;
}

table.params td:nth-child(3) {
	display:none;
}